<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>554725177092-tibp26t92g3sj3o09vs0t3678bfas497.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554725177092-tibp26t92g3sj3o09vs0t3678bfas497</string>
	<key>API_KEY</key>
	<string>AIzaSyAB1UASVq4Gz9O4CGcGRsTSxKrCYNgaes8</string>
	<key>GCM_SENDER_ID</key>
	<string>554725177092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.angelorobson.socialnetworklogin.SocialNetworkLogin</string>
	<key>PROJECT_ID</key>
	<string>social-network-login-c054d</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-login-c054d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554725177092:ios:225f9f72e02705e1</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-login-c054d.firebaseio.com</string>
</dict>
</plist>